<h1><%= @post.title %></h1>
<hr>
<small><%= @post.created_at.strftime("%b %d. %y") %></small>
<h3><%= @post.body %></h3>
<br>
Category: <%= link_to @post.category.name, @post.category %>
<p> <%= link_to "go back", posts_path %> </p>